.bg-main{
    background-color: #0F0F0F;
}

.bg-sec{
    background-color: #232D3F;
}

.text-main{
    color: #008170;
}

.text-sec{
    color: #005B41;
}

.translate-y-50 {
    transform: translateY(-50%);
}

.right-5px {
    right:5px;
}

.text-decoration-none {
    text-decoration: none !important;
}